!!! 5
%html
  %head
    %title Template
    %link{:rel => "stylesheet", :href => "assets/bootstrap.min.css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"}
    %script{:type => "text/javascript", :src => "assets/application.js"}
    %script{:type => "text/javascript", :src => "assets/bootstrap.min.js"}
  %body{:style => "padding-top: 50px;"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"} Template
          %ul.nav
            %li
              %a{:href => "/"} Home
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                = "Menu"
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#menu1"} Menu1
                %li
                  %a{:href => "#menu2"} Menu2
    .container
      - if @error
        .alert.alert-error= @error
      = yield
